
{{#block "header"}}

<!DOCTYPE html>
<html>
 <head>
   <title>{{#block "title"}}Heros{{/block}}
</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <link rel ='styleheet' href='/app.css'>
 </head>
 <body>
{{/block}}

   <!-- begin inner template-->
 {{#block "content"}}
   <div class="container"id =starter >

           <h1>Hero Squad </h1>
           <h2>Sworn to protect a world that hates and fears them </h2>

{{/block}}

   </div>
   <!-- end inner template-->
{{#block "footer"}}

 </body>
</html>
{{/block}}