

   {{#partial "header"}}

   {{/partial}}
   {{#partial "content"}}

       <h1>Meet the Squads</h1>

       {{#if squad}}
           {{#each squad}}
               <div class ="col-md-4 card">
                   <h3>Name:{{name}}</h3>
                   <p>Cause:{{cause}}</p>
                   <p>Maximum size:{{maxsize}}</p>
               </div>
           {{/each}}
           {{else}}
                    <P>No squads have been added!</p>
       {{/if}}

   {{/partial}}

   {{> layout.hbs}}