
{{!--                  <p> <a href ='/hero.hbs'>Checkout some of the photos i took</a> </p> --}}
{{!--                  <p>Travel Enthusiast Jane</p> --}}
{{!--                  <p><a href='/heroform.hbs'>Fill out this form if you are interested in joining me</a></p> --}}
{{!--                  <p><a href ='/grreeting-cards.hbs'>write your own letter</a></p> --}}
